

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
  }
  
  
  .timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: var(--color-white);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
  }
  
  .timeline :hover:after{
    background-color:#0F0;
    box-shadow:0px 0px 10px 2px #0F0;
  }
  
  .cont {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
  }
  
  .cont.left {
    left: 0;
  }
  
  .cont.right {
    left: 50%;
  }
  
  .cont::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid #0F0;
    border-radius: 16px;
    z-index: 1;
  }
  
  .cont.right::after {
    left: -8px;
  }
  
  .cont::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: var(--color-white);
    z-index: 1;
  }
  
  .cont.right::before {
    left: 8px;
  }
  
  .cont .date {
    position: absolute;
    display: inline-block;
    top: calc(50% - 12px);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color:  #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 1;
    border: 2px solid #f4f812;
    background: #f4f812;
    border-radius: 0.5rem;
    padding: 2px;
  }
  
  .cont.left .date {
    right: -57px;
  }
  
  .cont.right .date {
    left: -55px;
  }
  
  .cont .icon {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 2px 0;
    top: calc(50% - 20px);
    background: var(--color-bg);
    border: 2px solid var(--color-bg);
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: var(--color-bg);
    z-index: 1;
    top: 37%;
  }
  
  .cont.left .icon {
    right: 56px;
  }
  
  .cont.right .icon {
    left: 56px;
  }
  
  .cont .content {
    padding: 30px 90px 30px 30px;
    background: #a6c4f0;
    position: relative;
    border-radius: 0 500px 500px 0;
    border: 2px solid var(--color-primary-variant);
  }
  
  .cont .content:hover {
    background: var(--color-white);
    border-color: var(--color-primary-variant);
    cursor: default;
  }
  
  .cont.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
  
  .cont .content h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #000b6e;
  }
  
  .cont .content p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  
  @media (max-width: 767.98px) {
    .timeline::after {
      left: 90px;
    }
  
    .cont {
      width: 100%;
      padding-left: 120px;
      padding-right: 30px;
    }
  
    .cont.right {
      left: 0%;
    }
  
    .cont.left::after, 
    .cont.right::after {
      left: 82px;
    }
  
    .cont.left::before,
    .cont.right::before {
      left: 100px;
      border-color: transparent #006E51 transparent transparent;
    }
  
    .cont.left .date,
    .cont.right .date {
      right: auto;
      left: 15px;
    }
  
    .cont.left .icon,
    .cont.right .icon {
      right: auto;
      left: 146px;
    }
  
    .cont.left .content,
    .cont.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 500px 0 0 500px;
    }
  }